<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" th:href="@{/css/alogin.css}">
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div class="login">
    <h1>Login</h1>
    <form method="post">
        <input type="text" id="account" name="account" placeholder="Account"/>
        <input type="password" id="password" name="password" placeholder="Password"/>
        <button id="sub" type="submit" class="btn btn-primary btn-block btn-large">Sign in</button>
    </form>
</div>

<footer style="height:30px; width:100%; text-align: center;position: fixed; bottom: 0; left: 0; background: black">
    <div style="color: whitesmoke">Author &copy Frye 2021-4-20</div>
</footer>
</body>
<script>
    layui.use(['form', 'jquery', 'layer'], function () {
        let $ = layui.jquery,
            layer = layui.layer;
    });
    $(function () {
        $('#sub').click(function () {
            login();
            return false;
        });
    });

    function verify(data) {
        let account = data.account;
        let password = data.password;
        if (account.trim() === "" || account.length < 1) {
            layer.msg("Account can't be empty!", {shade: [0.3, '#FFFFFF']});
            return false;
        } else if (account.length !== 4) {
            layer.msg("Admin account must be four digits!", {shade: [0.3, '#FFFFFF']});
            return false;
        }
        if (password.trim() === "" || password.length < 1) {
            layer.msg("Password can't be empty!", {shade: [0.3, '#FFFFFF']});
            return false;
        } else if (password.length < 6) {
            layer.msg("Password cannot be less than 6 digits!", {shade: [0.3, '#FFFFFF']});
            return false;
        }
        return true;
    }

    function login() {
        var data = {
            account: $('#account').val(),
            password: $('#password').val()
        };
        if (verify(data)) {
            $.ajax({
                url: '/admin/login',
                type: 'post',
                dataType: 'text',
                contentType: 'application/json',
                data: JSON.stringify(data),
                timeout: 2000,
                success: function (msg) {
                    if (msg === 'success') {
                        layer.msg("Login successfully!", {time: 1000, shade: [0.3, '#FFFFFF']});
                        location.href = "/admin/home";
                    } else {
                        layer.msg(msg);
                        return false;
                    }
                },
                error: function () {
                    layer.msg("Login Exception!", {shade: [0.3, '#FFFFFF']});
                    return false;
                }
            })
        } else {
            return false;
        }
    }
</script>
</html>
