<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>commodity info</title>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.7/css/layui.css}" media="all">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-validation/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}" charset="utf-8"></script>
</head>
<body>
<form lay-filter="myForm" class="layui-form" method="post" style="width: auto; margin-left: 10%; margin-top: 30px;">

    <div class="layui-container layui-row">
        <label class="layui-form-label">Image:</label>
        <div class="layui-col-md3">
            <img id="image" alt="" style="height: 400px; width: 800px;">
        </div>
        <div class="layui-col-md4">
        </div>
    </div>

    <input type="text" style="display: none" name="image" id="imagePath">

    <div class="layui-form-item">
        <label class="layui-form-label">ID:</label>
        <div class="layui-input-inline">
            <input type="text" id="commodityId" th:value="${id}" name="commodityId" class="layui-input" readonly style="border: none">
        </div>
        <label class="layui-form-label">Name:</label>
        <div class="layui-input-inline">
            <input type="text" id="commodityName" name="commodityName" class="layui-input" readonly style="border: none">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">owner ID:</label>
        <div class="layui-input-inline">
            <input type="text" id="customerId" name="customerId" class="layui-input" readonly style="border: none">
        </div>
        <label class="layui-form-label">owner name:</label>
        <div class="layui-input-inline">
            <input type="text" id="customerName" name="customerName" class="layui-input" readonly style="border: none">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">count:</label>
        <div class="layui-input-inline">
            <input type="text" id="count" name="count" class="layui-input" readonly style="border: none">
        </div>
        <label class="layui-form-label">price:</label>
        <div class="layui-input-inline">
            <input type="text" id="price" name="price" class="layui-input" readonly style="border: none">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">parent type:</label>
        <div class="layui-input-inline">
            <input type="text" id="parentTypeName" name="parentTypeName" class="layui-input" readonly style="border: none">
        </div>
        <label class="layui-form-label">type:</label>
        <div class="layui-input-inline">
            <input type="text" id="typeName" name="typeName" class="layui-input" readonly style="border: none">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">detail:</label>
        <div class="layui-input-block">
            <textarea name="detail" class="layui-textarea" style="width: 800px; height: 150px;" readonly></textarea>
        </div>
    </div>

    <!-- button -->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" onclick="window.history.back(-1)">
                <i class="layui-icon">&#xe603;</i>Return
            </button>
        </div>
    </div>
</form>
<!-- layui动态加载效果 -->
<script>
    layui.use(['form', 'layer'], function () {
        let form = layui.form;
        let layer = layui.layer;
        // 获取下拉框的值
        window.onload = function (){
            // 拉取其他数据
            let id = $("#commodityId").val();
            $.ajax({
                url: '/op/getCommodity',
                type: 'post',
                dataType: 'text',
                contentType: 'application/json',
                data: id,
                timeout: 2000,
                success: function (data) {
                    let res = JSON.parse(data);
                    if (res.code === 200) {
                        layer.msg(res.msg);
                        form.val('myForm', res.data);
                        $('#image').attr("src",res.data.image);
                        return false;
                    } else {
                        layer.msg(res.msg);
                        return false;
                    }
                },
                error: function (){
                    layer.msg("Pulling data from the background is abnormal");
                }
            })
        }
    });
</script>
</body>
</html>