<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>add complaint</title>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.7/css/layui.css}" media="all">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-validation/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}" charset="utf-8"></script>
</head>
<body>
<form class="layui-form" method="post" style="width: auto; margin-left: 32%; margin-top: 30px;">

    <div class="layui-form-item">
        <label class="layui-form-label">Order ID:</label>
        <div class="layui-input-inline">
            <input type="text" id="orderId" name="orderId" class="layui-input" lay-verify="required"
                   lay-reqText="The order id cannot be null">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">detail:</label>
        <div class="layui-input-block">
            <textarea name="detail" placeholder="Please enter a description of the complaint" class="layui-textarea"
                      style="width: 800px; height: 150px;"></textarea>
        </div>
    </div>

    <!-- button -->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" onclick="window.history.back(-1)">
                <i class="layui-icon">&#xe603;</i>Return
            </button>
            <button type="submit" class="layui-btn" lay-submit lay-filter="submit-btn">
                <i class="layui-icon">&#xe605;</i>Submit
            </button>
            <button type="reset" class="layui-btn">
                <i class="layui-icon">&#xe666;</i>Reset
            </button>
        </div>
    </div>
</form>
<!-- layui动态加载效果 -->
<script>
    layui.use(['form', 'layer'], function () {
        let form = layui.form;
        let layer = layui.layer;

        // 表单提交
        form.on('submit(submit-btn)', function (data) {
            $.ajax({
                url: '/op/complaintAdd',
                type: 'post',
                dataType: 'text',
                contentType: 'application/json',
                data: JSON.stringify(data.field),
                time: 2000,
                success: function (data) {
                    let res = JSON.parse(data);
                    if (res.code === 200) {
                        layer.msg(res.msg);
                        $('iframe', parent.document).attr("src", "/toPage/admin/complaintList");
                    } else {
                        layer.msg(res.msg);
                        return false;
                    }
                },
                error: function () {
                    layer.msg("Exception!");
                    return false;
                }
            });
            return false;
        });
        return false;
    });
</script>
</body>
</html>