<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>complaint</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.7/css/layui.css}" media="all">
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}" charset="utf-8"></script>
</head>
<body>
<!--顶部搜索框-->
<div class="layui-row" style="margin: 10px;">
    <form class="layui-form layui-col-md12 we-search">
        <div class="layui-inline">
            <input type="text" name="orderId" id="orderId" placeholder="order ID" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-inline">
            <input type="text" name="state" id="state" placeholder="state" autocomplete="off" class="layui-input">
        </div>
        <button class="layui-btn layui-btn-sm" type="button" id="searchBtn"><i class="layui-icon">&#xe615;</i>Search
        </button>
        <button class="layui-btn layui-btn-sm" type="reset"><i class="layui-icon">&#xe666;</i>Reset</button>
    </form>
</div>
<!-- 自定义顶部工具栏 -->
<div id="toolbarDemo" style="display: none;">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i>Add</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">
            <i class="layui-icon">&#xe640;</i>Delete
        </button>
    </div>
</div>
<!-- 自定义右侧工具栏 -->
<div id="barDemo" style="display: none;">
    <a class="layui-btn layui-btn-xs" lay-event="update">Edit</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">Delete</a>
</div>

<!-- 数据表 -->
<table class="layui-hide" id="compList" lay-filter="compList"></table>
<script type="text/javascript">
    layui.use(['table', 'jquery', 'layer'], function () {
        let table = layui.table,
            $ = layui.jquery,
            layer = layui.layer;

        //渲染表格
        let t = table.render({
            elem: '#compList'
            , id: 'datatableID'
            , url: '/op/complaintList'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , cellMinWidth: 80
            , page: true
            , limit: 10
            , limits: [10, 20, 50, 100]
            , title: 'commodity Info Table'
            , method: 'post'
            , height: 580
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'complaintId', title: 'ID', fixed: 'left', align: 'center', width: 200, sort: true}
                    , {field: 'orderId', title: 'order ID', align: 'center', width: 200}
                    , {field: 'createTime', title: 'create time', width: 180, align: 'center'}
                    , {field: 'finishTime', title: 'finish time', width: 180, align: 'center'}
                    , {field: 'detail', title: 'detail', align: 'center', width: 200}
                    , {field: 'state', title: 'state', align: 'center', width: 100}
                    , {field: 'result', title: 'result', align: 'center', width: 200}
                    , {fixed: 'right', title: 'operation', toolbar: '#barDemo', width: 200}
                ]
            ]
            , response: {
                statusCode: 200 //成功状态码
            }
        });

        //绑定搜索事件
        $('#searchBtn').click(function () {
            let orderId = $('#orderId').val();
            let state = $('#state').val();
            t.reload({ //重新加载表格
                where: {
                    'orderId': orderId,
                    'state': state
                }
            });
        });

        //监听顶部工具栏事件
        table.on('toolbar(compList)', function (obj) {
            let checkStatus = table.checkStatus('datatableID');
            switch (obj.event) {
                case 'add':
                    addComplaint();
                    break;
                case 'del':
                    var data = checkStatus.data;
                    if (data.length === 0) {
                        layer.msg("please select the data to be deleted!");
                        return false;
                    }
                    layer.confirm('delete these data？', function (index) {
                        delComplaint(data, index);
                    });
            }
            return false;
        });

        //监听行工具事件
        table.on('tool(compList)', function (obj) {
            let data = obj.data;
            if (obj.event === 'del') {
                layer.confirm("delete this row？", function (index) {
                    delLine(data, index);
                });
            } else if (obj.event === 'update') {
                layer.confirm("update this row？", function (index) {
                    updateComplaint(data, index);
                });
            }
        });

        //添加按钮事件,更改父页面iframe值
        function addComplaint() {
            $('iframe', parent.document).attr("src", "/toPage/admin/complaintAdd");
        }

        //删除数据按钮事件
        function delComplaint(data, index) {
            layer.close(index);
            let ids = [];
            $.each(data, function (index, value) {
                ids.push(value.complaintId);
            });
            $.ajax({
                url: '/op/complaintDelete',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(ids),
                timeout: 2000,
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg(res.msg, {time:1000});
                        t.reload();
                        return false;
                    } else {
                        layer.msg(res.msg);
                        return false;
                    }
                },
                error: function () {
                    layer.msg("Exception!");
                }
            });
        }

        //删除数据按钮事件
        function delLine(data, index) {
            layer.close(index);
            let id = [];
            id.push(data.complaintId);
            $.ajax({
                url: '/op/complaintDelete',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(id),
                timeout: 2000,
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg(res.msg, {time:1000});
                        t.reload();
                        return false;
                    } else {
                        layer.msg(res.msg);
                        return false;
                    }
                },
                error: function () {
                    layer.msg("Exception!");
                }
            });
        }
        //行工具栏编辑按钮事件
        function updateComplaint(data, index) {
            layer.close(index);
            window.location.href = "/admin/complaintUpdate/" + data.complaintId;
        }
    });
</script>
</body>
</html>