<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>parent type</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.7/css/layui.css}" media="all">
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}" charset="utf-8"></script>
</head>
<body>
<!--顶部搜索框-->
<div class="layui-row" style="margin: 10px;">
    <form class="layui-form layui-col-md12 we-search">
        <div class="layui-inline">
            <input type="text" name="parentTypeName" id="parentTypeName" placeholder="type name" autocomplete="off"
                   class="layui-input">
        </div>
        <button class="layui-btn layui-btn-sm" type="button" id="searchBtn"><i class="layui-icon">&#xe615;</i>Search
        </button>
        <button class="layui-btn layui-btn-sm" type="reset"><i class="layui-icon">&#xe666;</i>Reset</button>
    </form>
</div>
<!-- 自定义右侧工具栏 -->
<div id="barDemo" style="display: none;">
    <a class="layui-btn layui-btn-xs" lay-event="subType">Sub-Type</a>
</div>

<!-- 数据表 -->
<table class="layui-hide" id="parentTypeList" lay-filter="parentTypeList"></table>
<script type="text/javascript">
    layui.use(['table', 'jquery', 'layer'], function () {
        var table = layui.table,
            $ = layui.jquery,
            layer = layui.layer;

        //渲染表格
        var t = table.render({
            elem: '#parentTypeList'
            , id: 'datatableID'
            , url: '/op/parentTypeList'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , cellMinWidth: 80
            , page: true
            , limit: 10
            , limits: [10, 20, 50, 100]
            , title: 'Parent Type Info Table'
            , method: 'post'
            , height: 580
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'parentTypeId', title: 'Type ID', fixed: 'left', align: 'center', width: 150, sort: true}
                    , {field: 'parentTypeName', title: 'Type Name', align: 'left', width: 200}
                    , {fixed: 'right', title: 'operation', toolbar: '#barDemo', width: 200}
                ]
            ]
            , response: {
                statusCode: 200 //成功状态码
            }
        });

        //绑定搜索事件
        $('#searchBtn').click(function () {
            let parentTypeName = $('#parentTypeName').val();
            t.reload({ //重新加载表格
                where: {
                    'parentTypeName': parentTypeName,
                }
            });
        });

        //监听行工具事件
        table.on('tool(parentTypeList)', function (obj) {
            let data = obj.data;
            if (obj.event === 'subType') {
                layer.confirm("view the sub-types？", function (index) {
                    viewSubType(data, index);
                });
            }
        });
        //行工具栏编辑按钮事件
        function viewSubType(data, index) {
            layer.close(index);
            window.location.href = "/admin/typeList/" + data.parentTypeId;
        }
    });
</script>
</body>
</html>