<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>static</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.7/css/layui.css}">
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}" charset="utf-8"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">Welcome, [[${name}]]!
                        &emsp;Time: &emsp;<span id="time">time</span>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">Data</div>
                <div class="layui-card-body ">
                    <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:void(0);" class="x-admin-backlog-body">
                                <h3>Registered Customers</h3>
                                <p><cite id="cusNumber"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:void(0);" class="x-admin-backlog-body">
                                <h3>Customer Service</h3>
                                <p><cite id="csNumber"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:void(0);" class="x-admin-backlog-body">
                                <h3>Commodity OnSale</h3>
                                <p><cite id="onSaleCom"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:void(0);" class="x-admin-backlog-body">
                                <h3>Completed Order</h3>
                                <p><cite id="orderNumber"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:void(0);" class="x-admin-backlog-body">
                                <h3>Running Days</h3>
                                <p><cite id="days"></cite></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">System Info</div>
                <div class="layui-card-body ">
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <th>Version</th>
                            <td>Release 2.0</td>
                        </tr>
                        <tr>
                            <th>Server DNS</th>
                            <td>106.15.139.161</td>
                        </tr>
                        <tr>
                            <th>Operation System</th>
                            <td>Ubuntu 18.04</td>
                        </tr>
                        <tr>
                            <th>Operating environment</th>
                            <td>Java + Tomcat + Mysql</td>
                        </tr>
                        <tr>
                            <th>Development environment</th>
                            <td>Springboot5 + shiro + thymeleaf + mybatis</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">Develop team</div>
                <div class="layui-card-body ">
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <th>Author</th>
                            <td>class 3 - group 4</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script>

    layui.use(['layer'], function () {
        let layer = layui.layer;
        let $ = layui.$;

        $(function () {
            // 获取后台数据
            $.ajax({
                url: '/admin/statistics',
                type: 'post',
                dataType: 'text',
                contentType: 'application/json',
                timeout: 2000,
                success: function (data) {
                    let res = JSON.parse(data);
                    if (res.code === 200) {
                        $('#cusNumber').html("&emsp;" + res.data.cusNumber);
                        $('#csNumber').html("&emsp;" + res.data.csNumber);
                        $('#onSaleCom').html("&emsp;" + res.data.onSaleCom);
                        $('#orderNumber').html("&emsp;" + res.data.orderNumber);
                        $('#days').html("&emsp;" + res.data.days);
                        return false;
                    } else {
                        layer.msg(res.msg);
                        return false;
                    }
                }
            });
        });

        let span = document.getElementById('time');
        span.innerText = formatDate();
        setInterval(function () {
            span.innerText = formatDate()
        }, 1000);

        function formatDate() {
            let date = new Date();
            let year = date.getFullYear();
            let month = date.getMonth() + 1;
            month = month < 10 ? '0' + month : month;
            let day = date.getDate();
            day = day < 10 ? '0' + day : day;
            let hours = date.getHours();
            hours = hours < 10 ? '0' + hours : hours;
            let minutes = date.getMinutes();
            minutes = minutes < 10 ? '0' + minutes : minutes;
            let seconds = date.getSeconds();
            seconds = seconds < 10 ? '0' + seconds : seconds;
            return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
        }
    });
</script>
</html>