<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>commodity info</title>
    <link rel="stylesheet" th:href="@{/css/public.css}">
    <link rel="stylesheet" th:href="@{/css/proList.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.SuperSlide.2.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/public.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}" charset="utf-8"></script>

    <script type="text/javascript">jQuery(".bottom").slide({
        titCell: ".hd ul",
        mainCell: ".bd .likeList",
        autoPage: true,
        autoPlay: false,
        effect: "leftLoop",
        autoPlay: true,
        vis: 1
    });</script>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top"><h1 class="fl"><a href="/home"><img th:src="@{/image/logo2.1.png}"
                                                                           style="width: 35%;height: auto"/></a>
        </h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="/login" id="login">login</a>
                    <a href="/toPage/mall/register" id="reg">register</a>
                </p>
                <div class="btn fl clearfix">
                    <a href="/toPage/mall/personCenter">
                        <img th:src="@{/image/grzx.png}"/>
                    </a>
                    <a href="/toPage/mall/cart">
                        <img th:src="@{/image/gwc.png}"/>
                    </a>
                    <a href="/logout">
                        <img th:src="@{/image/logout.png}"/>
                    </a>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="/home">Home</a></li>
            <li><a href="/toPage/mall/productList">All Products</a></li>
            <li><a href="/toPage/mall/myProduct">My Products</a></li>
            <li><a href="/toPage/mall/chart">Chart room</a></li>
        </ul>
    </div>
</div>

<!--商品详情信息展示-->
<div class="detCon">
    <div class="proDet wrapper">
        <div class="proCon clearfix">
            <div class="proImg fl" id="image">
            </div>
            <div class="fr intro">
                <div class="title" id="info"></div>
                <div class="proIntro">
                    <p>BASIC INFORMATION</p>
                    <input id="commodityId" th:value="${id}" style="display: none"/>
                    <div class="proIntro" id="detail">
                    </div>
                </div>
                <div class="btns clearfix">
                    <a href="javascript:void(0)" onclick="buy()"><p class="buy fl">BUY</p></a>
                    <p class="cart fr" onclick="addToCart()" type="button">ADD TO CART</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    layui.use(['form', 'jquery', 'layer'], function () {
        let $ = layui.jquery,
            layer = layui.layer;

        $(function () {
            let commodityId = $("#commodityId").val();
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/op/getCommodity",
                data: commodityId,
                contentType: "application/json",
                success: function (data) {
                    let state = "";
                    if (data.data.state === "1") {
                        state = "OnSale";
                    }
                    let obj = data.data;
                    let str1 = "";
                    let str2 = "";
                    let str3 = "";
                    str1 += "<img src=" + obj.image + ">";
                    str2 += "<h4> " + obj.commodityName + "</h4><p>" + obj.detail + "</p><span>" + '￥' + obj.price + "</span>";
                    str3 += "<p><span>ID:&emsp;" + obj.commodityId + "</span></p>" +
                        "<p><span>TYPE:&emsp;" + obj.typeName + "</span></p>" +
                        "<p><span>CUSTOMER NAME:&emsp;" + obj.customerName + "</span></p>" +
                        "<p><span>STATE:&emsp;" + state + "</span></p>";
                    console.log(str1);
                    $("#image").append(str1);
                    $("#info").append(str2);
                    $("#detail").append(str3);
                }
            });
        });
    });

    function buy() {
        let commodityId = $("#commodityId").val();
        window.location.href = "/mall/order/" + commodityId;
    }

    function addToCart() {
        let commodityId = $("#commodityId").val();
        $.ajax({
            type: "post",
            url: "/op/addtoCart",
            data: commodityId,
            dataType: 'json',
            contentType: "application/json",
            success: function (res) {
                if (res.code === 200) {
                    layer.msg(res.msg);
                } else {
                    layer.msg(res.msg);
                }
                return false;
            }
        });
    }
</script>
</body>
</html>