<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/proList.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mygxin.css}"/>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}" charset="utf-8"></script>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top"><h1 class="fl"><a href="/home"><img th:src="@{/image/logo2.1.png}"
                                                                           style="width: 35%;height: auto"/></a>
        </h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="/login" id="login">login</a>
                    <a href="/toPage/mall/register" id="reg">register</a>
                </p>
                <div class="btn fl clearfix">
                    <a href="/toPage/mall/personCenter">
                        <img th:src="@{/image/grzx.png}"/>
                    </a>
                    <a href="/toPage/mall/cart">
                        <img th:src="@{/image/gwc.png}"/>
                    </a>
                    <a href="/logout">
                        <img th:src="@{/image/logout.png}"/>
                    </a>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="/home">Home</a></li>
            <li><a href="/toPage/mall/productList">All Products</a></li>
            <li><a href="/toPage/mall/myProduct">My Products</a></li>
            <li><a href="/toPage/mall/chart">Chart room</a></li>
        </ul>
    </div>
</div>

<!--订单确认-->
<div class="order cart mt"><!-----------------site------------------->
    <div class="site"><p class="wrapper clearfix"><span class="fl">Order confirm</span><img class="top"
                                                                                            th:src="@{/image/cartTop02.png}">
    </p>
    </div><!-----------------orderCon------------------->
    <div class="orderCon wrapper clearfix">
        <div class="orderR fr">
            <div class="msg">
                <h3>order content<a href="/toPage/mall/cart" class="fr">back to cart</a></h3>
                <!--------ul---------------->
                <input id="commodityId" th:value="${commodityId}" style="display: none">
                <input id="buyerId" th:value="${buyerId}" style="display: none">
                <input id="sellerId" th:value="${sellerId}" style="display: none">
                <ul class="clearfix" id="body1">
                </ul>
            </div><!--------tips---------------->
            <div class="tips" id="body2">
            </div>
            <div id="body3">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'jquery', 'layer'], function () {
        let $ = layui.jquery,
            layer = layui.layer;

        let commodityId = $("#commodityId").val();
        let buyerId = $("#buyerId").val();
        let sellerId = $("#sellerId").val();
        let data = {"commodityId":commodityId,"buyerId":buyerId,"sellerId":sellerId};

        $(function () {
            $.ajax({
                type: "post",
                url: "/op/getCommodity",
                data: commodityId,
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    let body1 = $("#body1");
                    let li = "<li class='fl'><img style='height: 356px; width: 356px;' src=" + data.data.image + "></li>"
                        + "<li class='fl'><p>name: " + data.data.commodityName + "</p><p>owner: " + data.data.customerName + "</p><p>price: " + data.data.price + "</p><p>count: " + data.data.count + "</p></li>";
                    // + "<li class = 'fl'>price: "+data.data.price+"</li>";
                    body1.append(li);
                    let body3 = $("#body3");
                    let count_tips = "<div class='count tips'><p><span class = 'fl'>sum: </span><span class='fr'>￥" + data.data.price * data.data.count + "</span></p></div>"
                        + "<a  class='pay'>confirm order</a>";
                    body3.append(count_tips);
                }
            })

            $(document).on("click", ".pay", function () {
                $.ajax({
                    type:"post",
                    url:"/op/orderAdd",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data){
                        layer.msg(data.msg);
                    }
                })
            })
        });
    });
</script>
</body>
</html>