<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>personal information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mygrxx.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mygxin.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/public.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/user.js}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}" charset="utf-8"></script>
</head>

<body>
<!------------------------------head------------------------------>
<div class="head">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl">
                <a href="/home"><img th:src="@{/image/logo2.1.png}" style="width: 35%;height: auto"/>
                </a>
            </h1>
        </div>
        </h1>
        <div class="fr clearfix" id="top1">
            <p class="fl">
                <a href="/login" id="login">login</a>
                <a href="/toPage/mall/register" id="reg">register</a>
            </p>
            <div class="btn fl clearfix">
                <a href="/toPage/mall/personCenter">
                    <img th:src="@{/image/grzx.png}"/>
                </a>
                <a href="/toPage/mall/cart">
                    <img th:src="@{/image/gwc.png}"/>
                </a>
                <a href="/logout">
                    <img th:src="@{/image/logout.png}"/>
                </a>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="/home">Home</a></li>
            <li><a href="/toPage/mall/productList">All Products</a></li>
            <li><a href="/toPage/mall/myProduct">My Products</a></li>
            <li><a href="/toPage/mall/chart">Chart room</a></li>
        </ul>
    </div>
</div>

<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl">
            <h3><a href="#" id="image"></a><p class="clearfix"><span id="cutomername"></span></p></h3>
            <div><h4>我的交易</h4>
                <ul>
                    <li><a href="cart.html">我的购物车</a></li>
                    <li><a href="/mall/myOrder">我的订单</a></li>
                </ul>
                <h4>个人中心</h4>
                <ul>
                    <li><a href="/toPage/mall/personCenter">我的中心</a></li>
                    <li><a href="/toPage/mall/personInfo">个人信息</a></li>
                    <li><a href="/toPage/mall/changePwd">修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="you fl">
            <div class="tx clearfix">
                <div class="fl clearfix">
                    <input id="customerId" th:value="${id}" style="display: none"/></a>
                    <p class="fl"><a href="/toPage/mall/personInfo">修改个人信息></a></p></div>
                <div class="fr" id="email"></div>
            </div>
            <div class="bott">
                <div class="clearfix"><a href="#" class="fl"><img th:src="@{/image/gxin1.jpg}"/></a>
                    <p class="fl"><span>待支付的订单：<strong>0</strong></span><a
                            href="/toPage/mall/myOrder">查看待支付订单></a></p></div>
                <div class="clearfix"><a href="#" class="fl"><img th:src="@{/image/gxin3.jpg}"/></a>
                    <p class="fl"><span>我的投诉：<strong>0</strong></span><a href="mycomplaint.html">查看投诉订单></a></p></div>
            </div>
        </div>
    </div>
</div>
<script>

    layui.use(['form', 'jquery', 'layer'], function () {
        let $ = layui.jquery,
            layer = layui.layer;

        $(function () {
            let commodityId = $("#customerId").val();
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/op/getCustomer",
                data: commodityId,
                contentType: "application/json",
                success: function (data) {
                    let str1 = "";
                    let str2 = "";
                    let str3 = "";
                    str1 += "<img width='92' height='92' src=" + data.data.photo + ">";
                    str2 += "[" + data.data.customerName + "]";
                    str3 += "绑定邮箱：" + data.data.email;
                    $("#image").append(str1);
                    $("#cutomername").append(str2);
                    $("#email").append(str3);
                }
            });
        });
    });
</script>
</body>
</html>