<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8"/>
    <title>All Commodities</title>
    <link rel="stylesheet" th:href="@{/css/public.css}">
    <link rel="stylesheet" th:href="@{/css/proList.css}">
    <link rel="stylesheet" th:href="@{/css/all_goods.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <script type="text/javascript" charset="utf-8" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/public.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/nav.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/pro.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/cart.js}"></script>
</head>
<body onload="initial_page()">
<!------------------------------head------------------------------>
<div class="head">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top"><h1 class="fl"><a href="/home"><img th:src="@{/image/logo2.1.png}"
                                                                           style="width: 35%;height: auto"/></a>
        </h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="/login" id="login">login</a>
                    <a href="/toPage/mall/register" id="reg">register</a>
                </p>
                <div class="btn fl clearfix">
                    <a href="/toPage/mall/personCenter">
                        <img th:src="@{/image/grzx.png}"/>
                    </a>
                    <a href="/toPage/mall/cart">
                        <img th:src="@{/image/gwc.png}"/>
                    </a>
                    <a href="/logout">
                        <img th:src="@{/image/logout.png}"/>
                    </a>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="/home">Home</a></li>
            <li><a href="/toPage/mall/productList">All Products</a></li>
            <li><a href="/toPage/mall/myProduct">My Products</a></li>
            <li><a href="/toPage/mall/chart">Chart room</a></li>
        </ul>
    </div>
</div>
<!-----------------find box------------------------------->
<div class="address">
    <div class="fr clearfix">
        <form action="#" method="get" class="fl"><input id="find_name" type="text" placeholder="Find in current type"/><input
                type="button" onclick="FindCoomodityIntial()"/>
        </form>
    </div>
</div>
<!------------------shop side bar--------------------->
<div class="option1">
    <button id="side-bar">
        <i class="fas fa-bars"></i>
    </button>
</div>

<div id="contact-info" class="contact-info">
    <div class="option">
        <i class="fas fa-mobile-alt"></i>
        <div onclick="getByTypeIntial(this)" class="text">Digital & Accessories</div>
    </div>

    <div class="option">
        <i class="fas fa-tshirt"></i>
        <div onclick="getByTypeIntial(this)" class="text">Clothing & Shoes</div>
    </div>

    <div class="option">
        <i class="fas fa-utensils"></i>
        <div onclick="getByTypeIntial(this)" class="text">Food & Beverage</div>
    </div>

    <div class="option">
        <i class="fas fa-gem"></i>
        <div onclick="getByTypeIntial(this)" class="text">Jewelry & Ornament</div>
    </div>

    <div class="option">
        <i class="fas fa-pump-soap"></i>
        <div onclick="getByTypeIntial(this)" class="text">Home & Cleaning</div>
    </div>

    <div class="option">
        <i class="fas fa-book"></i>
        <div onclick="getByTypeIntial(this)" class="text">Books & Stationery</div>
    </div>
    <div class="option">
        <i class="fas fa-running"></i>
        <div onclick="getByTypeIntial(this)" class="text">Sport & Outdoors</div>
    </div>
    <div class="option">
        <i class="fas fa-car"></i>
        <div onclick="getByTypeIntial(this)" class="text">Vehicle & Accessories</div>
    </div>
    <div class="option">
        <i class="fas fa-ticket-alt"></i>
        <div onclick="getByTypeIntial(this)" class="text">Coupons & Member</div>
    </div>
</div>
<!----------------productList------------------------->
<ul id="plist" class="proList wrapper clearfix">
</ul>
<!---------------------- 分页布局---------------------->
<div id="page_click" class="pagination">
    <a href="javascript:void(0);" onclick="getPno(this)"><</a>
</div>
<!-----------------Go Top-------------------->
<div class="gotop"><a href="#" class="toptop" style="display: none;">
    <dl>
        <dt><img th:src="@{/image/gt4.png}"/></dt>
        <dd>GO<br/>TOP</dd>
    </dl>
</a>
</div>
</body>
<script>
    $(function () {
        $("#side-bar").click(function () {
            $("#contact-info").toggle();
        });
    });

    var current_type = "";

    function initial_page() {
        let aa = {
            "page": 1,
            "limit": 20
        };
        $.ajax({
            url: "/op/commodityList",//后台请求的数据
            data: aa,
            dataType: 'json', //数据格式
            type: "post",//请求方式
            success: function (data) {   //如果请求成功，返回数据。
                console.log(data.code);
                let tt = data.data;   //第一个data代表json,第二个data代表json里的数组或对象
                var data_num = data.count;
                // console.log(data.data);
                var str1 = "";   //声明str1，防止产生undefined
                var str2 = "";

                for (var i = 0; i < data_num; i++) {   //遍历
                    str1 += "<li><a href='/mall/commodityDetail/" + tt[i].commodityId + "'><dl><dt><img style='width: 120px; height: 160px;' src='"
                        + tt[i].image + "'></dt><dd>" + tt[i].commodityName + "</dd><dd>￥"
                        + tt[i].price + "</dd></dl></a></li>";
                }
                // alert(tt.length);
                $("#plist").append(str1);

                var totalPage = 0;//总页数
                var pageSize = 20;//每页显示行数
                //总共分几页
                if (data_num / pageSize > parseInt(data_num / pageSize)) {
                    totalPage = parseInt(data_num / pageSize) + 1;
                } else {
                    totalPage = parseInt(data_num / pageSize);
                }

                for (var i = 1; i <= totalPage; i++) {   //遍历
                    str2 += "<a href='javascript:void(0);' onclick='getPno(this)'>" + i + "</a>";
                    // if (pagenum == )
                }

                str2 += "<a href=\"javascript:void(0);\" onclick=\"getPno(this)\">></a>";

                $("#page_click").append(str2);
                // test.innerHTML = str1;   //将数据写入html中
            },
            error: function (arg1) {
                alert("Failure to load data");
                console.log(arg1);
            }
        })
    }

    function getPno(obj) {
        let bb = {
            "page": 1,
            "limit": 20
        };
        var text = $(obj).text();
        if (parseInt(text) > 1) {
            bb.page = text;
        } else if (text == "<" && text > 1) {
            bb.page -= 1;
        } else if (text == ">") {
            bb.page += 1;
        }
        ;
        console.log(bb);
        // alert(text);
        console.log(text);
        $.ajax({
            url: "/op/commodityList",//后台请求的数据
            dataType: 'json', //数据格式
            data: bb,
            type: "post",//请求方式
            success: function (data) {   //如果请求成功，返回数据。
                var tt = data.data;   //第一个data代表json,第二个data代表json里的数组或对象
                console.log(data.data);
                var str1 = "";   //声明str1，防止产生undefined
                var data_num = tt.length;

                if (data_num != 0) {
                    $('#plist').empty()
                    for (var i = 0; i < data_num; i++) {   //遍历
                        str1 += "<li><a href='/mall/commodityDetail/" + tt[i].commodityId + "'><dl><dt><img style='width: 120px; height: 160px;' src='"
                            + tt[i].image + "'></dt><dd>" + tt[i].commodityName + "</dd><dd>￥"
                            + tt[i].price + "</dd></dl></a></li>";
                        // if (pagenum == )
                    }
                    // alert(tt.length);
                    $("#plist").append(str1);
                } else {
                    alert("It's the last page");
                }
            },
            error: function (arg1) {
                alert("Failure to load data");
                console.log(arg1);
            }
        })
    }

    function getByTypeIntial(obj) {
        let type = $(obj).text();
        current_type = type;
        console.log(current_type);

        let cc = {
            "page": 1,
            "limit": 20,
            "parentTypeName": current_type
        };
        console.log(cc);

        $.ajax({
            url: "/op/commodityList",//后台请求的数据
            data: cc,
            dataType: 'json', //数据格式
            type: "post",//请求方式
            success: function (data) {   //如果请求成功，返回数据。
                console.log(data.code);
                let tt = data.data;   //第一个data代表json,第二个data代表json里的数组或对象
                var data_num = data.count;
                console.log(data);
                var str1 = "";   //声明str1，防止产生undefined
                var str2 = "<a href=\"javascript:void(0);\" onclick=\"getPnoByType(this)\"><</a>";

                $('#plist').empty()
                $('#page_click').empty()
                if (data_num == 0) {
                    alert("The commodity of this type does not exist");
                } else {
                    for (var i = 0; i < data_num; i++) {   //遍历
                        str1 += "<li><a href='/mall/commodityDetail/" + tt[i].commodityId + "'><dl><dt><img style='width: 120px; height: 160px;' src='"
                            + tt[i].image + "'></dt><dd>" + tt[i].commodityName + "</dd><dd>￥"
                            + tt[i].price + "</dd></dl></a></li>";
                    }
                    // alert(tt.length);
                    $("#plist").append(str1);

                    var totalPage = 0;//总页数
                    var pageSize = 20;//每页显示行数
                    //总共分几页
                    if (data_num / pageSize > parseInt(data_num / pageSize)) {
                        totalPage = parseInt(data_num / pageSize) + 1;
                    } else {
                        totalPage = parseInt(data_num / pageSize);
                    }

                    for (var i = 1; i <= totalPage; i++) {   //遍历
                        str2 += "<a href='javascript:void(0);' onclick='getPnoByType(this)'>" + i + "</a>";
                        // if (pagenum == )
                    }

                    str2 += "<a href=\"javascript:void(0);\" onclick=\"getPnoByType(this)\">></a>";

                    $("#page_click").append(str2);
                    // test.innerHTML = str1;   //将数据写入html中
                }
            },
            error: function (arg1) {
                alert("Failure to load data");
                console.log(arg1);
            }
        })
    }

    function getPnoByType(obj) {
        let dd = {
            "page": 1,
            "limit": 20,
            "parentTypeName": current_type
        };
        var text = $(obj).text();
        if (parseInt(text) > 1) {
            dd.page = text;
        } else if (text == "<" && text > 1) {
            dd.page -= 1;
        } else if (text == ">") {
            dd.page += 1;
        };
        console.log(dd);
        // alert(text);
        console.log(text);
        $.ajax({
            url: "/op/commodityList",//后台请求的数据
            dataType: 'json', //数据格式
            data: dd,
            type: "post",//请求方式
            success: function (data) {   //如果请求成功，返回数据。
                var tt = data.data;   //第一个data代表json,第二个data代表json里的数组或对象
                console.log(data.data);
                var str1 = "";   //声明str1，防止产生undefined
                var data_num = tt.length;

                if (data_num != 0) {
                    $('#plist').empty()
                    for (var i = 0; i < data_num; i++) {   //遍历
                        str1 += "<li><a href='/mall/commodityDetail/" + tt[i].commodityId + "'><dl><dt><img style='width: 120px; height: 160px;' src='"
                            + tt[i].image + "'></dt><dd>" + tt[i].commodityName + "</dd><dd>￥"
                            + tt[i].price + "</dd></dl></a></li>";
                        // if (pagenum == )
                    }
                    // alert(tt.length);
                    $("#plist").append(str1);
                } else {
                    alert("It's the last page");
                }
            },
            error: function (arg1) {
                alert("Failure to load data");
                console.log(arg1);
            }
        })
    }

    function FindCoomodityIntial(){
        let find_text = $('#find_name').val()
        let ee = {
            "page": 1,
            "limit": 20,
            "parentTypeName": current_type,
            "commodityName": find_text
        };
        console.log(find_text);
        $.ajax({
            url: "/op/commodityList",//后台请求的数据
            data: ee,
            dataType: 'json', //数据格式
            type: "post",//请求方式
            success: function (data) {   //如果请求成功，返回数据。
                console.log(data.code);
                let tt = data.data;   //第一个data代表json,第二个data代表json里的数组或对象
                var data_num = data.count;
                console.log(data);
                var str1 = "";   //声明str1，防止产生undefined
                var str2 = "<a href=\"javascript:void(0);\" onclick=\"getPnoFind(this)\"><</a>";

                $('#plist').empty()
                $('#page_click').empty()
                if (data_num == 0) {
                    alert("The commodity you are looking for does not exist");
                } else {
                    for (var i = 0; i < data_num; i++) {   //遍历
                        str1 += "<li><a href='/mall/commodityDetail/" + tt[i].commodityId + "'><dl><dt><img src='"
                            + tt[i].image + "'></dt><dd>" + tt[i].commodityName + "</dd><dd>￥"
                            + tt[i].price + "</dd></dl></a></li>";
                    }
                    // alert(tt.length);
                    $("#plist").append(str1);

                    var totalPage = 0;//总页数
                    var pageSize = 20;//每页显示行数
                    //总共分几页
                    if (data_num / pageSize > parseInt(data_num / pageSize)) {
                        totalPage = parseInt(data_num / pageSize) + 1;
                    } else {
                        totalPage = parseInt(data_num / pageSize);
                    }

                    for (var i = 1; i <= totalPage; i++) {   //遍历
                        str2 += "<a href='javascript:void(0);' onclick='getPnoFind(this)'>" + i + "</a>";
                        // if (pagenum == )
                    }

                    str2 += "<a href=\"javascript:void(0);\" onclick=\"getPnoFind(this)\">></a>";

                    $("#page_click").append(str2);
                    // test.innerHTML = str1;   //将数据写入html中
                }
            },
            error: function (arg1) {
                alert("Failure to load data");
                console.log(arg1);
            }
        })

    }

    function getPnoFind(obj){
        let find_text = $('#find_name').val()
        let ff = {
            "page": 1,
            "limit": 20,
            "parentTypeName": current_type,
            "commodityName": find_text
        };
        var text = $(obj).text();
        if (parseInt(text) > 1) {
            ff.page = text;
        } else if (text == "<" && text > 1) {
            ff.page -= 1;
        } else if (text == ">") {
            ff.page += 1;
        };
        $.ajax({
            url: "/op/commodityList",//后台请求的数据
            dataType: 'json', //数据格式
            data: ff,
            type: "post",//请求方式
            success: function (data) {   //如果请求成功，返回数据。
                var tt = data.data;   //第一个data代表json,第二个data代表json里的数组或对象
                console.log(data.data);
                var str1 = "";   //声明str1，防止产生undefined
                var data_num = tt.length;

                if (data_num != 0) {
                    $('#plist').empty()
                    for (var i = 0; i < data_num; i++) {   //遍历
                        str1 += "<li><a href='/mall/commodityDetail/" + tt[i].commodityId + "'><dl><dt><img style='width: 120px; height: 160px;' src='"
                            + tt[i].image + "'></dt><dd>" + tt[i].commodityName + "</dd><dd>￥"
                            + tt[i].price + "</dd></dl></a></li>";
                        // if (pagenum == )
                    }
                    // alert(tt.length);
                    $("#plist").append(str1);
                } else {
                    alert("It's the last page");
                }
            },
            error: function (arg1) {
                alert("Failure to load data");
                console.log(arg1);
            }
        })
    }
</script>
</html>