<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}"></script>
</head>
<body>
<div class="login">
    <form method="post"><h1><a href="index.html"><img th:src="@{/image/logo2.1.png}"></a></h1>
        <p></p>
        <p><input type="text" name="" id="customerName" placeholder="nickname"></p>
        <p><input type="password" name="" id="customerPwd" placeholder="password"></p>
        <p><input type="password" name="" id="repassword" placeholder="verify password"></p>
        <p><input type="text" name="" id="studentId" placeholder="student ID"></p>
        <p><input type="text" name="" id="email" placeholder="email"></p>
        <p><input type="text" name="" id="phone" placeholder="phone"></p>
        <p><input type="button" name="" value="register" id="register"></p>
    </form>
</div>

<script type="text/javascript">

    layui.use(['form', 'jquery', 'layer'], function () {
        let $ = layui.jquery,
            layer = layui.layer;

        $("#register").click(function () {
            let customerName = $("#customerName").val();
            let customerPwd = $("#customerPwd").val();
            let repassword = $("#repassword").val();
            let studentId = $("#studentId").val();
            let email = $("#email").val();
            let phone = $("#phone").val();
            if (customerPwd !== repassword) {
                layer.msg("Secondary import password mismatch!");
                return false;
            }

            var parten = /^\s*$/;
            if (parten.test(customerPwd)) {
                layer.msg("Enter the password with spaces！");
                return false;
            }
            if (customerPwd.length < 6 || customerPwd.length > 12) {
                layer.msg("Enter the password with less than six or more than twelve digits!");
                return false;
            }
            let data = {
                "customerName": customerName,
                "customerPwd": customerPwd,
                "studentId": studentId,
                "email": email,
                "phone": phone,
                "credit": 5
            };
            $.ajax({
                type: "post",
                url: "/op/customerAdd",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    if (data.code === 200) {
                        layer.msg(data.msg);
                        window.location.href = "/login";
                    } else {
                        layer.msg(data.msg);
                        return false;
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>