<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frye.trading.dao.ComplaintMapper">

    <select id="getComplaintById" resultType="com.frye.trading.pojo.model.Complaint">
        select *
        from tradingsystem.complaint
        <where>
            complaint_id = #{id}
        </where>
    </select>

    <insert id="addComplaint" parameterType="com.frye.trading.pojo.model.Order">
        insert into tradingsystem.complaint (complaint_id, order_id, create_time, finish_time, detail, `state`, `result`)
        values (#{complaintId}, #{orderId}, #{createTime}, #{finishTime}, #{detail}, #{state}, #{result})
    </insert>

    <update id="updateComplaint" parameterType="com.frye.trading.pojo.model.Complaint">
        update tradingsystem.complaint
        <set>
            <if test="state != null">state = #{state},</if>
            <if test="result != null">`result` = #{result},</if>
            <if test="finishTime != null">finish_time = #{finishTime}</if>
        </set>
        <where>
            complaint_id = #{complaintId}
        </where>
    </update>

    <delete id="deleteComplaint">
        delete
        from tradingsystem.complaint
        where complaint_id = #{id}
    </delete>

    <select id="getComplaintList" resultType="com.frye.trading.pojo.model.Complaint" parameterType="map">
        select *
        from tradingsystem.complaint
        <where>
            <if test="params.orderId != null and params.orderId != ''">
                order_id = #{params.orderId}
            </if>
            <if test="params.state != null and params.state != ''">
                and `state` = #{params.state}
            </if>
        </where>
        limit #{begin}, #{pageSize}
    </select>

    <select id="getCount" resultType="int" parameterType="map">
        select count(*)
        from tradingsystem.complaint
        <where>
            <if test="params.orderId != null and params.orderId != ''">
                order_id = #{params.orderId}
            </if>
            <if test="params.state != null and params.state != ''">
                and `state` = #{params.state}
            </if>
        </where>
    </select>

</mapper>