<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frye.trading.dao.ParentTypeMapper">

    <select id="getAllParentType" resultType="com.frye.trading.pojo.model.ParentType">
        select *
        from tradingsystem.parent_type
    </select>

    <select id="getParentTypeList" resultType="com.frye.trading.pojo.model.ParentType">
        select *
        from tradingsystem.parent_type
        <where>
            <if test="parentTypeName != null and parentTypeName != ''">
                parent_type_name like CONCAT('%',#{parentTypeName},'%')
            </if>
        </where>
        limit #{begin}, #{pageSize}
    </select>

    <select id="getCount" resultType="int" parameterType="String">
        select count(*)
        from tradingsystem.parent_type
        <where>
            <if test="parentTypeName != null and parentTypeName != ''">
                parent_type_name like CONCAT('%',#{parentTypeName},'%')
            </if>
        </where>
    </select>

</mapper>