<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frye.trading.dao.ShopcartMapper">

    <select id="getCommodityByCustomerId" resultType="com.frye.trading.pojo.model.Shopcart">
        select *
        from tradingsystem.shopcart
        where customer_id = #{id}
    </select>

    <insert id="addShopcart" parameterType="com.frye.trading.pojo.model.Shopcart">
        insert into tradingsystem.shopcart(customer_id, commodity_id)
        values (#{customerId}, #{commodityId})
    </insert>

    <delete id="deleteShopcart">
        delete
        from tradingsystem.shopcart
        where customer_id = #{customerId}
        and commodity_id = #{commodityId}
    </delete>

    <update id="setAllShopcartInvalidByCommodityId">
        update tradingsystem.shopcart
        <set>
            `state` = 'invalid'
        </set>
        where commodity_id = #{commodityId}
    </update>

    <update id="setAllShopcartValidByCommodityId">
        update tradingsystem.shopcart
        <set>
            `state` = 'valid'
        </set>
        where commodity_id = #{commodityId}
    </update>

</mapper>