<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frye.trading.dao.TypeMapper">

    <select id="getTypeById" resultType="com.frye.trading.pojo.model.Type">
        select *
        from tradingsystem.type
        where type_id = #{id}
    </select>

    <insert id="addType" parameterType="com.frye.trading.pojo.model.Type">
        insert into tradingsystem.type(type_name,parent_type_id,sort)
        values (#{typeName},#{parentTypeId},#{sort})
    </insert>

    <update id="updateType" parameterType="com.frye.trading.pojo.model.Type">
        update tradingsystem.type
        <set>
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="parentTypeId != null">parent_type_id = #{parentTypeId},</if>
            <if test="sort != null">sort = #{sort}</if>
        </set>
    </update>

    <delete id="deleteType">
        delete
        from tradingsystem.type
        where type_id = #{id}
    </delete>

    <select id="getAllTypeByParentTypeId" resultType="com.frye.trading.pojo.model.Type">
        select *
        from tradingsystem.type
        where parent_type_id = #{parentTypeId}
        order by sort
    </select>

    <select id="getTypeList" resultType="com.frye.trading.pojo.model.Type" parameterType="map">
        select type_id,type_name,parent_type_id,parent_type_name,sort
        from tradingsystem.type natural join tradingsystem.parent_type
        <where>
            <if test="params.parentTypeName != null and params.parentTypeName != ''">
                parent_type_name like CONCAT('%',#{params.parentTypeName},'%')
            </if>
            <if test="params.typeName != null and params.typeName != ''">
                and type_name like CONCAT('%',#{params.typeName},'%')
            </if>
            <if test="params.parentTypeId != null and params.parentTypeId != ''">
                and parent_type_id = #{params.parentTypeId}
            </if>
        </where>
        order by sort,type_id
        limit #{begin}, #{pageSize}
    </select>

    <select id="getCount" resultType="int" parameterType="map">
        select count(*)
        from tradingsystem.type natural join tradingsystem.parent_type
        <where>
            <if test="params.parentTypeName != null and params.parentTypeName != ''">
                parent_type_name like CONCAT('%',#{params.parentTypeName},'%')
            </if>
            <if test="params.typeName != null and params.typeName != ''">
                and type_name like CONCAT('%',#{params.typeName},'%')
            </if>
            <if test="params.parentTypeId != null and params.parentTypeId != ''">
                and parent_type_id = #{params.parentTypeId}
            </if>
        </where>
    </select>

</mapper>